body {
  background-color: #f8f8ff;
  font-family: arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box {
  background-color: white;
  box-shadow: 0 0 30px 1px #dcdcdc;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.label {
  margin: 20px;
}

input, select {
  height: 30px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  border: gray solid 1px;
}

button {
  margin-top: 20px;
  padding: 15px;
  border: none;
  background-color: #f8f8ff;
  border-radius: 10px;
  box-shadow: #dcdcdc 0 0 5px 1px;
}

button:active {
  transform: translateY(10px);
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: green;
}

footer {
  text-align: center;
}
